body {
    font-family: "Inter", sans-serif;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(230, 230, 230, 0.1);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(230, 230, 230, 0.1)),
        color-stop(100%, rgba(0, 0, 0, 0.1))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(230, 230, 230, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 100%
    );
    background: -moz-linear-gradient(
        top,
        rgba(230, 230, 230, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(230, 230, 230, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(230, 230, 230, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 100%
    );
    background: #435ebe;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    /* border-radius: 20px; */
    display: inline-block;
    min-width: 1.5em;
    padding: 0.2em 0.75em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 10px;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    padding: 4px;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    margin-left: 3px;
}

body .theme-dark .dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: rgb(56, 56, 56);
}
